input[type="text"], input[type="email"], input[type="phone"], input[type="password"], textarea {
	background: $white;
	padding: 1em;
	&:focus {
	}
}

input {
	@include input-placeholder {
		color: #666;
		font-style: italic;
	}
}