.main_menu {
	@include clearfix;
	list-style: none;
	padding: 0;
	> li {
		display: inline-block;
		font-size: 16px; // this overrides the font-size 0 from the equisdistant placement
		position: relative;
		&:hover .sub_menu {
			display: block;
		}
		> a {
			display: block;
			padding: 1em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
			}
		}
	}
	&.equidistant {
		font-size: 0.1px;
		text-align: justify;
		-ms-text-justify: distribute-all-lines;
		text-justify: distribute-all-lines;
		&:after {
			content: '';
			width: 100%;
			display: inline-block!important;
		}
	}
}
.left_menu {
	.sub_menu {
		margin: 0 0 0 -7.5em;
	}
	> li {
		> a {
			padding-right: 1em;
		}
	}
}

.right_menu {
	.sub_menu {
		margin: 0 0 0 -6.25em;
	}
	> li {
		> a {
			padding-left: 1em;
		}
	}
}

.sub_menu {
	background: rgba(#000, 0.85);
	display: block;
	left: 50%;
	list-style: none;
	margin-left: -7em;
	padding: 1em;
	position: absolute;
	top: 2.5em;
	width: 14em;
	> li {
		display: block;
		font-size: 0.875em;
		padding: 0;
		position: static;
		> a {
			display: block;
			padding: 0.5em;
			text-align: center;
			&:hover {
			}
		}
	}
}

.nav_toggle {
	display: none;
	height: 3em;
	outline: none;
	padding: 0.5em;
	position: absolute;
	right: 1em;
	top: 1.125em;
	width: 4.5em;
	&:focus {
		outline: none;
	}
	&:hover {
	}
	&.open {
		background: #0f0;
		.toggle_icon_line {
			&.top_line {
				top: 12px;
				@include transform(rotate(45deg));
			}
			&.mid_line {
				left: 50%;
				width: 1px;
			}
			&.bot_line {
				top: 12px;
				@include transform(rotate(-45deg));
			}
		}
	}
}

.toggle_icon {
	left: 21px;
	height: 30px;
	position: absolute;
	width: 30px;
	top: 9px;
}

.toggle_icon_line {
	background: #f00;
	display: block;
	width: 30px;
	height: 5px;
	position: absolute;
	left: 0;
	@include transition(all 200ms ease-in-out);
	&.top_line {
		top: 3px;
		@include transform(rotate(0));
	}
	&.mid_line {
		top: 12px;
	}
	&.bot_line {
		top: 21px;
		@include transform(rotate(0));
	}
}

@media screen and (max-width: 640px) {
	.navigation {
		background: rgba(#000, 0.5);
		bottom: 0;
		display: none;
		left: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		position: fixed;
		top: 0;
		@include transition(1);
		width: 100%;
		z-index: 1;
		-webkit-overflow-scrolling: touch;
	}
	.mobile_nav {
		background: darken(#f00, 20%);
		bottom: 0;
		display: block;
		left: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 0 1em;
		position: fixed;
		top: 5em;
		@include transition(all 0.5s, cubic-bezier(0.09,0.82,0.74,1) 0s);
		width: 100%;
		z-index: 1;
		-webkit-overflow-scrolling: touch;
		&.open {
			left: 0;
		}
	}

	.nav_toggle {
		display: block;
	}
}