@mixin column {
	@include box-sizing(border-box);
	float: left;
}

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

// send image and quote in opposite directions!
@mixin pull-quote($direction) {
	$opposite: opposite-position($direction);
	border-#{$opposite}: 6px solid hotpink;
	float: $direction;
	margin: 0 0 0.5em 0;
	margin-#{$opposite}: 1em;
	padding-#{$opposite}: 1em;
	text-align: $opposite;
}

@mixin animation($animation, $duration, $easing, $iteration, $delay) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	-webkit-animation-timing-function: $easing;
	-webkit-animation-iteration-count: $iteration;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	-moz-animation-timing-function: $easing;
	-moz-animation-iteration-count: $iteration;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	animation-timing-function: $easing;
	animation-iteration-count: $iteration;
}

@mixin input-placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}  
}

@mixin noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;       
}