h1,.h1 {
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
}

h2,.h2 {
	font-size: 1.75em;
	font-weight: bold;
	line-height: 1em;
}

h3,.h3 {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1em;
}

h4,.h4 {
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
}

h5,.h5 {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1.5em;
}

h6,.h6 {
	font-size: 0.875em;
	font-style: italic;
	line-height: 1em;
}

p, ol, ul {
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	p, ol, ul {
		font-size: inherit;
	}
}

a {
	@include transition(color 0.25s, opacity 0.25s);
	text-decoration: none;
	&:hover {
	}
}

hr {

}

img {
	height: auto;
	@include transition(opacity 0.25s);
}

input, textarea {
	@include transition(all 0.375s);
}

button {
	@include transition(all 0.375s);
}