h1,.h1 {
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
}

h2,.h2 {
	font-size: 1.75em;
	font-weight: bold;
	line-height: 1em;
}

h3,.h3 {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1em;
}

h4,.h4 {
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
}

h5,.h5 {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1.5em;
}

h6,.h6 {
	font-size: 0.875em;
	font-style: italic;
	line-height: 1em;
}

p, ol, ul {
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	p, ol, ul {
		font-size: inherit;
	}
}

a {
	@include transition(background 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.25s ease-in-out);
	text-decoration: none;
	&:visited {
	}
	&:hover {
	}
}

button {
	@include transition(all 0.3s ease-in-out);
}

hr {

}

img {
	height: auto;
	@include transition(opacity 0.3s ease-in-out);
}

input, textarea {
	@include transition(all 0.3s ease-in-out);
	@include input-placeholder {
		color: #666;
		font-style: italic;
	}
}

svg {
	@include transition(all 0.3s ease-in-out);
}
