.full_height {
	height: 100%;
	width: auto;
}

.full_width {
	height: auto;
	width: 100%;
}

.bg_wide {
	background-size: 100% auto!important;
}

.bg_tall {
	background-size: auto 100%!important;
}

.bg_cover {
	background-position: center center!important;
	background-size: cover!important;
}

.no_scroll {
	overflow: hidden;
}

.mobile_hide {
	display: inherit!important;
}

.desktop_hide {
	display: none!important;
}

.centred {
	left: 50%;
	position: absolute;
	top: 50%;
	@include transform(translate(-50%,-50%));
}

.centred_vert {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

.centred_title {
	@extend .centred;
	display: inline-block;
	text-align: center;
}

@media screen and (max-width: 640px) {
	.mobile_hide {
		display: none!important;
	}

	.desktop_hide {
		display: inherit!important;
	}
}