.full-height {
	height: 100%;
	width: auto;
}

.full-width {
	height: auto;
	width: 100%;
}

.bg-wide {
	background-size: 100% auto!important;
}

.bg-tall {
	background-size: auto 100%!important;
}

.no-scroll {
	overflow: hidden;
}

.mobile-hide {
	display: inherit!important;
}

.desktop-hide {
	display: none!important;
}

@media screen and (max-width: 640px) {
	.mobile-hide {
		display: none!important;
	}

	.desktop-hide {
		display: inherit!important;
	}
}