.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left!important;
}

.alignright {
	float: right!important;
}

.wp-caption {

}

.wp-caption-text {

}

.gallery-caption {

}

.sticky {
}

.bypostauthor {

}

.edit_link {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	.post-edit-link {
		display: inline-block;
		color: #fff;
		background: #1ac;
		@include border-radius(0.25em);
		padding: 1em;
		text-decoration: none;
		&:hover {
			background: #fff;
			color: #000;
		}
	}
}