.page-wrap {
	min-height: 100%;
	position: relative;
}

.section-block {
	@include clearfix;
	margin: 0 auto;
	max-width: $pageWidth;
	position: relative;
	width: 100%;
}

.row {
	@include clearfix;
}

%column {
	float: left;
	padding-right: $gutter;
	&:last-of-type {
		padding-right: 0;
	}
}

.col-full {
	@extend %column;
	width: 100%
}

.col-half {
	@extend %column;
	width: 50%
}

.col-3-4 {
	@extend %column;
	width: 75%
}

.col-1-4 {
	@extend %column;
	width: 25%
}

.col-2-3 {
	@extend %column;
	width: 66.666%
}

.col-1-3 {
	@extend %column;
	width: 33.333%
}

.col-5-6 {
	@extend %column;
	width: 83.333%
}

.col-1-6 {
	@extend %column;
	width: 16.667%
}

.col-11-12 {
	@extend %column;
	width: 91.667%;
}

.col-7-12 {
	@extend %column;
	width: 58.333%;
}

.col-5-12 {
	@extend %column;
	width: 41.667%;
}

.col-1-12 {
	@extend %column;
	width: 8.333%;
}

.col-left {
	float: left;
}

.col-right {
	float: right;
}

.col-center {
	float: none;
	margin: 0 auto;
}

.proportional-wrap {
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	
	&.four-by-three {
		padding-top: 75%;
	}
	
	&.three-by-two {
		padding-top: 66.666%;
	}
	
	&.sixteen-by-nine {
		padding-top: 56.25%;
	}
	
	&.two-by-one {
		padding-top: 50%;
	}

	.proportional-inner {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}