.container {
	@include clearfix;
	clear: both;
	margin: 0 auto;
	max-width: $pageWidth;
	position: relative;
	width: 100%;
}

.row {
	@include clearfix;
	clear: both;
	position: relative;
	width: 100%;
}

.gutter_pad {
	padding: 0 $halfGutter;
}

.full_pad {
	padding: $halfGutter;
}

%column {
	float: left;
	position: relative;
}

.col_12 {
	@extend %column;
	width: 100%
}

.col_11 {
	@extend %column;
	width: 91.667%;
}

.col_10 {
	@extend %column;
	width: 83.333%
}

.col_9 {
	@extend %column;
	width: 75%
}

.col_8 {
	@extend %column;
	width: 66.666%
}

.col_7 {
	@extend %column;
	width: 58.333%;
}
.col_6 {
	@extend %column;
	width: 50%
}

.col_5 {
	@extend %column;
	width: 41.667%;
}

.col_4 {
	@extend %column;
	width: 33.333%
}

.col_3 {
	@extend %column;
	width: 25%
}

.col_2 {
	@extend %column;
	width: 16.667%
}

.col_1 {
	@extend %column;
	width: 8.333%;
}

.col_left {
	float: left;
}

.col_right {
	float: right;
}

.col_center {
	clear: both;
	float: none;
	margin: 0 auto;
}

.proportional_wrap {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.proportional_outer {
	height: 0;
	position: relative;
	width: 100%;
	&.one_by_one {
		padding-top: 100%;
	}
	&.four_by_three {
		padding-top: 75%;
	}
	
	&.three_by_two {
		padding-top: 66.666%;
	}
	
	&.sixteen_by_nine {
		padding-top: 56.25%;
	}
	
	&.two_by_one {
		padding-top: 50%;
	}
}

.proportional_inner {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}