header {
	width: 100%;
}

.header-logo {

}

.masthead {
	background: url("../../images/hero-home.png") no-repeat;
	background-position: center;
	background-size: cover;
	height: 80vh;
	background-color: #020;
	nav {
		padding-top: 1em;
		.menu {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;
			> li {
				display: inline-block;
				font-size: 16px; // this overrides the font-size 0 from the equisdistant placement
				position: relative;
				&:hover .sub-menu {
					display: block;
				}
			}
			a {
				color: #fff;
				display: block;
				font-size: 0.875em;
				letter-spacing: 0.125em;
				padding: 1em;
				text-align: center;
				text-decoration: none;
				@include text-shadow(0 1px 0 $dark-grey);
				text-transform: uppercase;
			}
		
			a:hover {
				background: rgba($dark-grey, 0.25);
				border-bottom: 1px solid $wheat;
			}
		}
		&.left-menu {
			.sub-menu {
				margin: 0 0 0 -7.5em;
			}
			> li > a {
				padding-right: 1em;
			}
		}
		
		&.right-menu {
			.sub-menu {
				margin: 0 0 0 -6.25em;
			}
			> li > a {
				padding-left: 1em;
			}
		}

		.sub-menu {
			background: rgba(#000, 0.85);
			display: block;
			left: 50%;
			margin-left: -7em;
			padding: 1em;
			position: absolute;
			top: 2.5em;
			width: 14em;
			li {
				display: block;
				font-size: 0.875em;
				padding: 0;
				position: static;
		
				a {
					color: #aaa;
					display: block;
					padding: 0.5em;
					text-align: center;
					&:hover {
						background: #aaa;
						color: #000;
					}
				}
			}
		}
	}
}

.nav-toggle {
	display: none;
	height: 3em;
	outline: none;
	padding: 0.5em;
	position: absolute;
	right: 1em;
	top: 1.125em;
	width: 4.5em;
	&:focus {
		outline: none;
	}
}
.nav-toggle:hover {
}

.nav-toggle .nav-open {
	display: block;
}

.nav-toggle.open .nav-open {
	display: none;
}

.nav-toggle .nav-close {
	display: none;
}

.nav-toggle.open .nav-close {
	display: block;
}


.menuBurg {
	left: 21px;
	height: 30px;
	position: absolute;
	width: 30px;
	top: 9px;
	.burgLine {
		background: $dark-grey;
		display: block;
		width: 30px;
		height: 5px;
		position: absolute;
		left: 0;
		transition: all 500ms ease-out;
	}
}

.topBurg {
	top: 3px;
	transform: rotate(0);
}

.midBurg {
	top: 12px;
}

.botBurg {
	top: 21px;
	transform: rotate(0);
}

.nav-toggle.open {
	.topBurg {
		top: 12px;
		transform: rotate(45deg);
	}
	.midBurg {
		left: 50%;
		width: 1px;
	}
	.botBurg {
		top: 12px;
		transform: rotate(-45deg);
	}
}

@media screen and (max-width: 640px) {
	.header-logo {
		height: 5em;
	}
	.masthead {
		position: fixed;
		z-index: 1000;
		nav {
			background: rgba(#000, 0.5);
			bottom: 0;
			display: none;
			left: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
			position: fixed;
			top: 0;
			@include transition(1);
			width: 100%;
			z-index: 1;
			-webkit-overflow-scrolling: touch;
		}
		.mobile-nav {
			background: darken($dark-grey, 20%);
			bottom: 0;
			display: block;
			left: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
			padding: 0 1em;
			position: fixed;
			top: 5em;
			@include transition(all 0.5s, cubic-bezier(.09,.82,.74,1));
			width: 100%;
			z-index: 1;
			-webkit-overflow-scrolling: touch;
		}
		.mobile-nav.open {
			left: 0;
		}
	}

	.nav-toggle {
		background: $gold;
		color: $dark-grey;
		display: block;
		height: 3em;
		outline: none;
		padding: 0.5em;
		position: absolute;
		right: 1em;
		top: 1em;
		width: 4.5em;
		.menuBurg {
			left: 21px;
			height: 30px;
			position: absolute;
			width: 30px;
			top: 9px;
			.burgLine {
				background: $dark-grey;
				display: block;
				width: 30px;
				height: 5px;
				position: absolute;
				left: 0;
				@include transition(all 200ms ease-in-out);
			}
		}
		.topBurg {
			top: 3px;
			@include transform(rotate(0));
		}
		.midBurg {
			top: 12px;
		}
		.botBurg {
			top: 21px;
			@include transform(rotate(0));
		}
		&:focus {
			outline: none;
		}
		&.nav-toggle.open {
			background: #fff;
			.topBurg {
				top: 12px;
				@include transform(rotate(45deg));
			}
			.midBurg {
				left: 50%;
				width: 1px;
			}
			.botBurg {
				top: 12px;
				@include transform(rotate(-45deg));
			}
		}
	}
}