.header-logo {

}

.masthead {
	background-color: #020;
	width: 100%;
}


@media screen and (max-width: 640px) {
	.header-logo {
		height: 5em;
	}
	.masthead {
		position: fixed;
		z-index: 1000;
	}
}