




/*--------------------------------------------------------------
ELEMENTS
--------------------------------------------------------------*/

body {
	background: #eee;
	color: #666;
	font-family: "proxima-nova", Arial;
	line-height: 1.375em;
}

h1 {
	font-family: "presicav", Arial;
	font-size: 2.25em;
	font-weight: 400;
	line-height: 1.25em;
	text-transform: uppercase;
}

h2 {
	color: #a253fd;
	font-family: "presicav", Arial;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.75em;
	text-transform: uppercase;
}

h3 {
	font-family: "proxima-nova", Arial;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.125em;
	margin-bottom: 0.25em;
	text-transform: uppercase;
}

h4 {
	font-family: "proxima-nova", Arial;
	font-size: 1em;
	font-weight: 700;
	line-height: 2em;
	/*margin-bottom: 1.5em;*/
}

p {
	font-weight: 400;
	line-height: 2em;
	margin-bottom: 1.5em;
}

ul, ol {
	margin-bottom: 1.5em;
}

li {
	line-height: 2em;
}

a {
	color: #666;
	font-weight: bold;
	text-decoration: underline;
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

a:hover {
	color: #a253fd;
	text-decoration: none;
}

h2 a, h3 a, h4 a {
	font-weight: inherit;
}

img {
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

input, textarea {
	background: #ccc;
	border: none;
	/*border-radius: 0.375em;*/
	box-shadow: inset 0 0.25em 0.5em #999;
	box-sizing: border-box;
	color: #666;
	font-weight: 400;
	font-family: "proxima-nova", "Arial";
	margin-bottom: 1em;
	padding: 0.5em 0.5em 0.75em 0.5em;
	width: 100%;
}

select{
	width: 100%;
}

small {
	font-size: .75em;
}

table {
	border-radius: 0.125em;
	box-shadow: 0 1px 2px #999;
	color: #666;
	margin-bottom: 1em;
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
}

tbody {
	/*border-bottom: 1px solid #ddd;*/
}

tbody tr:nth-child(even) {
	background: #e1e1e1;
}

tbody tr:nth-child(odd) {
	background: #efefef;
}

td, th {
	font-size: 0.875em;
	padding: 1em;
}

th {
	background: #ddd;
	font-weight: bold;
	text-align: left;
}

td {
	vertical-align: top;
}

td small {
	display: block;
}

tfoot td {
	background: #ccc;
	font-size: 0.75em;
	font-weight: bold;
	line-height: 1.5em;
}

tfoot p {
	margin: 0
}



/*--------------------------------------------------------------
CLASSES - CONTENT BLOCKS
--------------------------------------------------------------*/


.innerWrap {
	box-sizing: border-box;
	margin: auto;
	overflow: hidden;
	padding-left: 0.5em;
	padding-right: 0.5em;
	position: relative;
	width: 64em;
}

.rowWrap {
	width: 100%;
	overflow: hidden;
}

.fullHeight {
	box-sizing: border-box;
	height: 100%;
	width: auto;
}

.fullWidth {
	box-sizing: border-box;
	height: auto;
	width: 100%;
}

.leftHalf {
	box-sizing: border-box;
	float: left;
	padding-right: 2em;
	width: 50%;
}

.rightHalf {
	box-sizing: border-box;
	float: right;
	padding-left: 2em;
	width: 50%;
}

.oneThirdColumn {
	box-sizing: border-box;
	float: left;
	width: 33.333333333333333%;
}

.twoThirdsColumn {
	box-sizing: border-box;
	float: left;
	width: 66.666666666666666%;
}

.proportionalWrap {
	height: 0;
	position: relative;
	width: 100%;
}

.sixteenByNine {
	padding-top: 56.25%; 
}

.fourByThree {
	padding-top: 75%; 
}

.oneByOne {
	padding-top: 100%; 
}

.proportionalInner {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.proportionalInner iframe, .proportionalInner img {
	width: 100%;
	height: 100%;
}





/*--------------------------------------------------------------
CLASSES
--------------------------------------------------------------*/

.purple { color: #a253fd!important; }
.darkPurple { color: #501f9c!important; }
.white { color: #fff!important; }
.black { color: #000!important; }

.icomoon {
	font-family: "icomoon" !important;
}

.wp-caption {}
.wp-caption-text {}
.sticky {}
.gallery-caption {}
.bypostauthor { }

.alignright {
	text-align: right;
	float: right;
}

.alignleft {
	text-align: left;
	float: left;
}

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.lowerCase {
	text-transform: lowercase;
}

.normalCase {
	text-transform: none;
}

.bigText {
	font-size: 140%;
}

.bigTitle {
	font-size: 2.25em;
	line-height: 1em;
}

.floatTitle {
	float: left;
}

h2.alternate1 {
	font-size: 2.5em;
	line-height: 1em;
	margin: 1em 0 3em 0;
	text-align: center;
}

h3.alternate1 {
	font-size: 1.5em;
	line-height: 1.5em;
	text-transform: none;
}

.insetHeader {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.noSidePad {
	padding-left: 0!important;
	padding-right: 0!important;
}

.noTopPad {
	padding-top: 0!important;
}

.noBotPad {
	padding-bottom: 0!important;
}

.noBotMargin {
	margin-bottom: 0!important;
}

.boxshadow {
	box-shadow: 0 2px 4px #bbb;
}

.shallowshadow {
	box-shadow: 0 1px 2px #bbb;
}

.thinshadow {
	box-shadow: 0 1px 1px #aaa;
}

.groundingshadow {
	text-shadow: 0 0 0.5em #000;
}

.noshadow {
	box-shadow: none!important;
}

.bigBut, .wpcf7-submit {
	background-image: -moz-linear-gradient(top, #a253fd, #994bfd);
	background-image: -ms-linear-gradient(top, #a253fd, #994bfd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a253fd), to(#994bfd));
	background-image: -webkit-linear-gradient(top, #a253fd, #994bfd);
	background-image: -o-linear-gradient(top, #a253fd, #994bfd);
	background-image: linear-gradient(top, #a253fd, #994bfd);
	box-shadow: 0 1px 1px #000;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	color: #fff;
	display: block;
	padding: 1.25em;
	font-family: "presicav", Arial;
	line-height: 1em;
	margin: 0 0 0.75em 0;
	font-size: 0.875em;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.bigBut:hover, .wpcf7-submit:hover {
	background-image: -moz-linear-gradient(top, #994bfd, #6f39ad);
	background-image: -ms-linear-gradient(top, #994bfd, #6f39ad);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#994bfd), to(#6f39ad));
	background-image: -webkit-linear-gradient(top, #994bfd, #6f39ad);
	background-image: -o-linear-gradient(top, #994bfd, #6f39ad);
	background-image: linear-gradient(top, #994bfd, #6f39ad);
	box-shadow: 0 0 1em #a253fd;
	color: #fff;
}

.orangeBut {
	background: #ffa42d; /* Old browsers */
	background: -moz-linear-gradient(top, #ffa42d 0%, #f97d19 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa42d), color-stop(100%,#f97d19)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa42d 0%,#f97d19 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa42d 0%,#f97d19 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffa42d 0%,#f97d19 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffa42d 0%,#f97d19 100%); /* W3C */
}

.orangeBut:hover {
	background: #fdbf66; /* Old browsers */
	background: -moz-linear-gradient(top, #fdbf66 0%, #ffa42e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdbf66), color-stop(100%,#ffa42e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fdbf66 0%,#ffa42e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fdbf66 0%,#ffa42e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fdbf66 0%,#ffa42e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fdbf66 0%,#ffa42e 100%); /* W3C */
}

.moreButton {
	background: #501f9c;
	border-radius:3px;
	color: #fff;
	display: block;
	float: right;
	font-size: 0.75em;
	line-height: 1em;
	padding: 0.625em 0.5em 0.5em 0.5em;
	text-decoration: none;
	text-transform: uppercase;
}

.moreButton:hover {
	background: #a253fd;
	color: #fff;
}

.moreButton .icomoon {
	letter-spacing: -0.3125em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.cornerBullet {
	height: 1.125em;
	position: absolute;
	width: 1.125em;
}

.cornerBullet1 {
	top: 9em;
	left: 3em;
}

.cornerBullet2 {
	top: 9em;
	right: 3em;
}

.cornerBullet3 {
	bottom: 4.5em;
	right: 3em;
}

.cornerBullet4 {
	bottom: 4.5em;
	left: 3em;
}

.pdfLink {
	padding-left: 1.5em;
	background: url('images/pdf-icon.gif') no-repeat;
}

.zipLink {
	padding-left: 1.5em;
	background: url('images/zip-icon.gif') no-repeat;
}

.imzLink {
	padding-left: 1.5em;
	background: url('images/file-icon.gif') no-repeat;
}

.hideUntilReady {
	display: none;
}

.showUntilReady {

}

table.autoLayout {
	table-layout: auto;
}

table.autoLayout th, table.autoLayout td {
	width: 70%;
}

table.autoLayout td {
	background: #fafafa;
}

table.autoLayout th:first-child, table.autoLayout td:first-child {
	width: 30%;
}

table.autoLayout th img, table.autoLayout td img {
	height: auto;
	width: 100%;
}

.pagination { 
	font-family: "presicav", "Arial";
	font-size: 1em;
	line-height: 2em;
	margin-bottom: 1em;
	text-transform: uppercase;
}





/*--------------------------------------------------------------
STRUCTURE - MODULES
--------------------------------------------------------------*/

.featuredWrap {
	background: #fafafa;
	margin-bottom: 1.5em;
}

.featuredWrap .proportionalInner {
	box-sizing: border-box;
	padding: 0.25em;
}

.wallItem {
	box-sizing: border-box;
	float: left;
	padding-bottom: 1em;
	width: 100%;
}

.wallItemHalf {
	width: 50%;
}

.wallRow {
	clear: both;
	float: left;
	width: 100%;
}

.wallItemHalf.leftHalf {
	float: left;
	padding-left: 0;
	padding-right: 0.5em;
}

.wallItemHalf.rightHalf {
	float: right;
	padding-left: 0.5em;
	padding-right: 0;
}

.wallItemLink {
	background: #fafafa;
	display: block;
	padding: 0.5em 0.5em 1em 0.5em;
	text-align: center;
	text-decoration: none;
}

.wallItemLink:hover {
	background: #fff;
}

.wallImageWrap {
	background: #a253fd;
	height: auto;
	margin-bottom: 1.25em;
	width: 100%;
}

.wallItemLink:hover .wallImageWrap img {
	opacity: 0.5;
}

.wallImageWrap img {
	height: auto;
	width: 100%;
}

.wallItemLink h3 {
	margin: 0 1em 0.25em 1em;
}

.wallItemLink p {
	font-size: 0.875em;
	margin: 0 1em;
}

.newsHeadlines {
	list-style: none;
	margin: 0 0 0.5em 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.newsHeadline {
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 0.5em;
	width: 50%;
}

.newsHeadline a {
	background: #ddd;
	border-left: 0 solid #ddd;
	display: block;
	min-height: 4em;
	padding: 1em 1em 1em 6em;
	position: relative;
	text-decoration: none;
	overflow: hidden;
}

.newsHeadline a:hover {
	background: #fff;
	border-left: 0.375em solid #a253fd;
	color: #333;
}

.newsHeadlineIcon {
	background: #ccc;
	border: 0.125em solid #fff;
	height: 3.625em;
	left: 1em;
	position: absolute;
	top: 1em;
	width: 3.625em;
}

.newsHeadline a:hover img {
	background: #a253fd;
}

.newsHeadline h4 {
	line-height: 1.375em;
	margin: 0;
}

.newsHeadline p {
	font-size: 0.625em;
	margin: 0;
}

div.post {
	background: #fafafa;
	margin-bottom: 0.75em;
	overflow: hidden;
	padding: 1em;
}

div.post .newsThumb {
	background: #a253fd;
	float: left;
	height: auto;
	width: 15%;
}

div.post .newsBlurb {
	box-sizing: border-box;
	float: left;
	height: auto;
	padding-left: 1em;
	width: 85%;
}

div.post .newsBlurb p {
	margin: 0;
}




/*--------------------------------------------------------------
STRUCTURE - HEADER
--------------------------------------------------------------*/

#header {
	background: #ddd;
	background: rgba(221,221,221,0.95);
	border-bottom: 1px #aaaaaa solid;
	box-shadow: 0 0 0.5em #999;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.4);
	height: 5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

body.admin-bar #header {
	top: 2em;
}

#headerLogo {
	background: #501f9c;
	display: block;
	float: left;
	height: 3.75em;
	margin-top: 0.625em;
	overflow: hidden;
	width: auto;
	-o-transition: none;
	-ms-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	transition: none;
}

#headerLogo:hover img {
	opacity: 0.5;
}

#nav {
	float: right;
}

#menu-main {
	float: left;
	list-style: none;
	margin-top: 1.875em;
	padding: 0;
}

#menu-main.open {
	display: none;
}

#menu-main li {
	float: left;
	line-height: 1em;
	padding-left: 1em;
}

#menu-main li a {
	color: #666;
	font-size: 0.72em;
	font-family: "presicav";
	font-weight: normal;
	line-height: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}

#menu-main li a:hover, #menu-main li.current_page_item a, #menu-main li.current-page-ancestor a { 
	color: #a253fd;
}

.nav-button {
	display: none;
}

#searchform {
	display: none;
	float: left;
	margin-top: 1.25em;
}

#searchform.open {
	display: block;
}

#searchButton {
	display: block;
	float: left;
	font-family: "icomoon";
	margin-left: 1em;
	margin-top: 1.625em;
	text-decoration: none;
}

#searchform input {
	background: #a253fd;
	box-shadow: inset 0 0.25em 0.5em #501f9c, 0 1px 0 #fff;
	color: #fff;
	width: 20em;
}





/*--------------------------------------------------------------
STRUCTURE - PAGE
--------------------------------------------------------------*/

#wrap {
	position: relative;
	margin-top: 5em;
	padding: 4em 0 5em 0;
	overflow: hidden;
}

#masthead {
	margin-bottom: 1.5em;
}

#header-phone {
	float: right;
	font-size: 1.5em;
	height: 1.125em;
	padding: 0.25em 0 0 1.75em;
}

#header-phone .icomoon {
	margin-right: 0.125em;
	vertical-align: bottom;
}

#content {
	padding-right: 1em;
}





/*--------------------------------------------------------------
STRUCTURE - ACCORDION
--------------------------------------------------------------*/

div.accordion {
	margin-bottom: 1em;
}

.ui-accordion-header {
	background: #ccc;
	cursor: pointer;
	font-family: "proxima-nova", "Arial";
	font-size: 0.875em;
	font-weight: bold;
	margin-bottom: 4px;
	padding: 1em;
	text-transform: none;
}

.ui-state-default:hover {
	background: #a253fd;
	color: #fff;
}

.ui-state-active {
	background: #a253fd;
	color: #fff;
}

.ui-accordion-header .ui-accordion-header-icon {
	background: url('images/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
	float: right;
	height: 1.25em;
	margin: 0 0 0 0;
	width: 1.25em;
}

.ui-accordion-header:hover .ui-accordion-header-icon {
	background-position: 57% 0;
	background-size: auto 100%;
}

.ui-state-active .ui-accordion-header-icon, .ui-state-active:hover .ui-accordion-header-icon {
	background-position: 71.5% 0;
	background-size: auto 100%;
}

.ui-state-active:hover {
	background: #501f9c;
}

.ui-accordion-content { 
	background: #ddd;
	overflow: hidden;
	padding: 1em 1.5em 0 1.5em;
	width: auto;
}

.ui-accordion-content h4 {
	border-top: solid 1px #999;
	line-height: 1.5em;
	padding: 1.25em 0 0 0;
	margin: 0;
}

.ui-accordion-content h4:first-of-type {
	border-top: none;
	padding: 0;
}

.ui-accordion-content p, .ui-accordion-content ul, .ui-accordion-content ol { 
	font-size: 0.875em;
	line-height: 1.5em;
}

.ui-accordion-content ul:last-child, .ui-accordion-content ol:last-child {
	margin-bottom: 0;
}

.ui-accordion-content ul, .ui-accordion-content ol { 
	padding-left: 1em;
}

div.accordion table {
	table-layout: auto;
}

div.accordion table th {
	background: #ccc;
}

div.accordion table tbody tr:nth-child(even) {
	background: #eee;
}

div.accordion table tbody tr:nth-child(odd) {
	background: #fafafa;
}





/*--------------------------------------------------------------
STRUCTURE - SIDEBAR
--------------------------------------------------------------*/

#sidebar {
	padding-left: 1em;
}

#sidebar p {
	line-height: 1.5em;
	margin-bottom: 0;
}

#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidebar ul ul {
	margin-left: 0.75em;
}

#sidebar ul li {
	font-size: 0.875em;
}

#sidebar .current_page_item a {
	font-weight: 700;
	color: #a253fd;
}

#sidebar a {
	text-decoration: none;
}

.sidebarBlock {
	background: #fafafa;
	margin-bottom: 0.625em;
	padding: 1.25em;
}

.subNav a {
	font-weight: 400;
	text-decoration: none;
}

.sbRecentPosts li {
	border-top: 1px #ccc solid;
	line-height: 1em;
	margin-top: 1.125em;
	padding: 1em 0 0 0;
}

.sbVidPane {
	border: 4px solid #fff;
	box-sizing: border-box;
}

.sbVideoLink {
	background: #a253fd;
	display: block;
	height: 100%;
	width: 100%;
}

.sbVideoImage {
	height: 100%;
	width: 100%;
}

.sbVideoLink:hover .sbVideoImage {
	opacity: 0.5;
}

.sbVideoIframe {
	display: none;
	height: 100%;
	width: 100%;
}

.analogue-io-but {
	padding: 0.25em;
}

.analogue-io-but-wrap {
	background: #a253fd;
}

.analogue-io-but a {
	background: url('images/analogue-io-but.jpg');
	background-size: 100%;
	box-sizing: border-box;
	color: #666;
	font-size: 1em;
	font-weight: normal;
	display: block;
	height: 100%;
	padding: 1.25em 3em 3em 3em;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.analogue-io-but a:hover {
	opacity: 0.5;
}

.analogue-io-but h3 {
	font-size: 0.75em;
	line-height: 1.5em;
}

.analogue-io-but p {
	font-size: 0.75em;
	line-height: 1.375em;
}





/*--------------------------------------------------------------
STRUCTURE - SB FORM
--------------------------------------------------------------*/

.sb-form {
	background: #763aab url('images/sb-form-bg.png') repeat-x!important;
	color: #fff;
	font-size: 0.875em;
}

.sb-form h3 {
	font-size: 1.25em;
	text-align: center;
}

.sb-form .intro {
	margin: 0 0 1em 0;
	text-align: center;
}

.sb-form label {
	background: #ccc;
	box-sizing: border-box;
	color: #666;
	display: block;
	float: left;
	height: 2.5em;
	padding: 0.5em;
	text-align: center;
	width: 22%;
}

.sbSexyCheck label {
	background: transparent;
	color: #fff;
}

.sb-form input[type="text"], .sb-form input[type="email"], .sb-form input[type="tel"] {
	background: #fff;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.frm-input input[type="text"], .frm-input input[type="email"], .frm-input input[type="tel"] {
	margin-bottom: 0.25em;
	padding: 0.5em;
	height: 2.5em;
	width: 78%;
}

div.wpcf7-display-none {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 1em 0.5em 1em 0.5em;
	padding: 0.2em 1em;
}

.frm-question {
	clear: both;
	margin: .25em 0;
}

.frm-radio {
	float: left;
}

.sbSexyCheck {
	margin: 0 10px 8px 0;
}

.sbSexyCheck input {
	box-shadow: none;
}

.sbSexyCheckButton {
	cursor: pointer;
	background: url('images/sexyCheckSprite.png');
	height: 19px;
	float: left;
	width: 18px;
}

.sb-form .wpcf7-form {
	overflow: visible;
}

.sb-form span.wpcf7-list-item {
	margin-left: 3px;
}

.sb-form input:checked ~ .sbSexyCheckButton {
	background: url('images/sexyCheckSprite.png');
	background-position: -18px 0;
}

.sbSexyCheckButton:hover {
	background: url('images/sexyCheckSprite.png');
	background-position: 0 -19px;
}

.sb-form input:checked ~ .sbSexyCheckButton:hover {
	background: url('images/sexyCheckSprite.png');
	background-position: -18px -19px;
}

.frm-comments {
	clear: both;
}

.frm-comments label {
	background: #ccc;
	box-sizing: border-box;
	color: #666;
	display: block;
	float: left;
	height: 2.5em;
	padding: 0.5em;
	text-align: left;
	width: 100%;
}

.frm-comments textarea {
	background: #fff;
	border: none;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	height: 100px;
	margin: 0;
}

.frm-privacy {
	text-align: center;
}





/*--------------------------------------------------------------
STRUCTURE - FOOTER
--------------------------------------------------------------*/

footer {
	box-sizing: border-box;
	background: url('images/footerTransBg.png') repeat-x #222;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 3em 1em;
	position: relative;
	width: 100%;
}

.footerColumn {
	float: left;
	width: 22.22222222222%;
}

#footerBlurb {
	float: left;
	width: 33.33333333333%;
}

footer h4 {
	color: #aaa;
	line-height: 1.5em;
	margin-bottom: 0.25em;
}

footer ul {
	font-size: 1em;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer p, footer li {
	color: #aaa;
	font-size: 0.875em;
	margin: 0;
}

footer a {
	color: #aaa;
	font-weight: normal;
	text-decoration: none;
}

footer a:hover {
	color: #fff;
}

#socialLinks {
	float: left;
	list-style: none;
	margin-top: 0.375em;
}

#socialLinks li a {
	display: block;
	height: 2.25em;
	line-height: 2em;
	margin-bottom: 0.5em;
	padding-left: 2.75em;
}

#socialLinks li a.facebook {
	background: url('images/socials/facebook.png') no-repeat;
}

#socialLinks li a.twitter {
	background: url('images/socials/twitter.png') no-repeat;
}

#socialLinks li a.youtube {
	background: url('images/socials/youtube.png') no-repeat;
}

#socialLinks li a.facebook:hover {
	background: url('images/socials/facebook-over.png') no-repeat;
}

#socialLinks li a.twitter:hover {
	background: url('images/socials/twitter-over.png') no-repeat;
}

#socialLinks li a.youtube:hover {
	background: url('images/socials/youtube-over.png') no-repeat;
}





/*--------------------------------------------------------------
PAGE SPECIFIC STYLES - HOME
--------------------------------------------------------------*/

body.home {
	height: 100%;
	overflow-x: hidden;
}

body.home .curtainSlide > .innerWrap {
	padding-top: 10em;
	padding-bottom: 5em;
}

.curtains{
	width: 100%;
	z-index: 1;
	position: relative;
}

.curtains .proportionalInner {
	background: #999;
}

.curtains>li{
	box-shadow: 0 0 10em #000;
	box-shadow: 0 0 10em rgba(0,0,0,0.5);
	display: block;
	left: 0;
	min-height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	-webkit-transform: translateZ(0);
}

.curtains>li.hidden{
	display: none;
}

.curtains>li:first-child{
	z-index: 2;
}

body.home h1 {
	color: #fff;
	font-size: 6.25em;
	line-height: 1em;
	margin-bottom: 1.125em;
	text-align: center;
}

#radar-studio h3 {
	font-weight: 100;
}

#radar-studio {
	background: url("images/2014-home/slide01.jpg");
	background-size: cover;
	color: #fff;
	font-weight: 100;
}

#radar-studio .innerWrap {
	padding-left: 0;
	padding-right: 0;
}

#radar-studio .oneThirdColumn {
	padding-left: 0.5em;
	padding-right: 1em;
}

#radar-studio .twoThirdsColumn {
	padding-right: 0.5em;
}

#callsToAction {
	bottom: inherit;
	height: auto;
	margin-bottom: 4em;
	position: static;
	width: 100%;
}

#callsToAction .innerWrap {
	height: 100%;
}

#callsToAction a {
	background: #501f9c;
	background: rgba(162,83,253,0.4);
	color: #fff;
	display: block;
	margin: 0.125em;
	padding: 1em;
	font-family: "presicav", Arial;
	font-weight: 400;
	font-size: .875em;
	line-height: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
}

#callsToAction a:hover {
	background: #501f9c;
	background: rgba(162,83,253,0.85);
}

.callToAction {
	background: url("images/2014-home/callToActionIcons.png") no-repeat;
	background-size: auto 1.5em;
	height: 1.5em;
	float: right;
	width: 1.5em;
}

.callToActionDownArrow {
	background-position: 0 0;
}

.callToActionRightArrow {
	background-position: -1.6em 0;
}

.callToActionPrice {
	background-position: -3.1em 0;
}

#who-uses-radar {
	background: url("images/2014-home/slide02.jpg") #111;
	background-position: center;
	background-size: cover;
	color: #fff;
	font-weight: 100;
}

#who-uses-radar h3.alternate1 {
	margin-bottom: 0.5em;
}

#who-uses-radar h4, #praise-for-radar h4  {
	color: #fff;
	font-family: "proxima-nova", Arial;
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: 0;
	text-transform: none;
}

#who-uses-radar p, #praise-for-radar p {
	font-family: "proxima-nova", Arial;
	font-size: 1.25em;
	font-weight: 100;
	line-height: 1.5em;
	margin-bottom: 1em;
	text-transform: none;
}

#videoFeature {
	margin-bottom: 0.125em;
}

.vidPlaylistItem {
	background: #9e51f7;
	border: .25em solid #9e51f7;
	color: #501f9c;
	display: block;
	font-size: 1em;
	margin-bottom: 0.125em;
	padding: .75em;
	text-decoration: none;
}

.vidPlaylistItem:hover, .selectedVid {
	background: #ae71f5;
	color: #fff;
}

#praise-for-radar {
	background: #9e51f7;
	color: #fff;
	font-weight: 100;
}

#praise-for-radar *  {
	text-align: center!important;
}

#praise-for-radar .leftHalf, #praise-for-radar .rightHalf {
	margin-bottom: 5em;
}

#praise-for-radar .oneThirdColumn {
	margin-bottom: 7em;
}

#explore-iz {

}

#homeBuckets { 
	list-style: none;
 	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center; 
}

#homeBuckets li {
	margin-bottom: 1em;
	padding: 0 0.5em;
}

a.bucketButton {
	background: #ddd;
	display: block;
	overflow: hidden;
	text-decoration: none;
}

a.bucketButton:hover {
	background: #fff;
}

.bucketLogo{
	margin: 2em auto;
}

.bucketThumb {
	height: auto;
	margin: 2em auto 1.5em auto;
	width: 100%;
}

#homeBuckets p {
	font-size: 1em; 
	margin: 0 1.5em 2em 1.5em;
}

#recentNews {
	overflow: hidden;
	margin-top: 2em;
}





/*--------------------------------------------------------------
PAGE SPECIFIC STYLES - RADAR AND ADA MAIN PAGES
--------------------------------------------------------------*/

#introPanel {
	padding-top: 2.75em;
	padding-bottom: 5em;
}

#introPanel .oneThirdColumn {
	padding-left: 2.5em;
}

#introPanel p:last-of-type {
	margin: 0;
}

#introPanel img {
	margin-bottom: 5em;
}

#miniTourPanel {
	background: #501f9c;
	padding: 5em 0 6em 0;
}

#miniTourPanel h3 {
	margin-bottom: 2em;
}

#radarSchem {
	height: auto;
	position: relative;
}

#radarSchem .callout {
	background: #a253fd;
	background: rgba(162,83,253, 0.9);
	display: none;
	padding: 1em 1.5em 1.25em 1.5em;
	position: absolute;
	width: 30%;
}

#radarSchem .callout.current {

}

#radarSchem .callout h4, #radarSchem .callout p {
	color: #fff;
	line-height: 1.75em;
	margin: 0;
}

#radarSchem .callout p {
	font-weight: 100;
}

#radarSchem #callout1 {
	left: 6.5%;
	top: 40.7%;
}

#radarSchem #callout2 {
	top: 23.7%;
	left: 17.9%;
}

#radarSchem #callout3 {
	top: 30.5%;
	right: 30.6%;
}

#radarSchem #callout4 {
	bottom: 32%;
	right: 14.3%
}

#radarSchem #callout5 {
	bottom: 14.8%;
	right: 20.1%;
}

#radarSchem #callout6 {
	bottom: 14.5%;
	right: 11.7%;
}

#radarSchem .marker {
	background: url("images/circleBulletPurple.png") no-repeat;
	background-position: center;
	background-size: 65%;
	display: block;
	height: 1.75em;
	position: absolute;
	width: 1.75em;
}

#radarSchem .marker.current, #radarSchem .marker.current:hover {
	background: url("images/circleBullet.png") no-repeat;
	background-position: center;
	background-size: 65%;
}

#radarSchem .marker:hover {
	background: url("images/circleBullet.png") no-repeat;
	background-position: center;
	background-size: 100%;
}

#radarSchem #marker1 {
	left: 5%;
	top: 37%;
}

#radarSchem #marker2 {
	left: 16.5%;
	top: 20%;
}

#radarSchem #marker3 {
	left: 68%;
	top: 27%;
}

#radarSchem #marker4 {
	left: 84.25%;
	top: 64%;
}

#radarSchem #marker5 {
	left: 78.5%;
	top: 81.5%;
}

#featuresPanel {
	background: url("images/2014-home/controller-big.jpg") no-repeat #d3d3d3;
	background-attachment: fixed;
	background-position: right center;
	background-size: 55% auto;
	padding: 5em 0 6em 0;
}

#featuresPanel .leftHalf {
	padding: 0;
}

#featuresPanel h2 {
	font-size: 1.5em;
	line-height: 1.25em;
	margin-bottom: 1em;
}

#featuresPanel h3 {
	color: #a253fd;
}

#featuresPanel p {
	font-size: 1.2em;
	line-height: 2em;
	margin-bottom: 0.875em;
}

#highlightsSliderNav {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#highlightsSliderNav li {
	margin: 0 0 .125em 0;
}

#highlightsSliderNav li a {
	background: #a253fd;
	color: #fff;
	display: block;
	height: 2em;
	text-align: center;
	width: 2em;
	text-decoration: none;
}

#highlightsSliderNav li.current a, #highlightsSliderNav li a:hover {
	background: #501f9c;
}

#highlightsSlider {
	padding-left: 4em;
}

#highlightsSlider .slide {
	display: none;
}

#highlightsSlider .slide.current {
	display: block;
}

ul.sexyList {
	list-style: none;
	margin: 0.75em 0 0 0;
	padding: 0;
}

ul.sexyList li {
	background: url("images/circleBulletGrey.png") no-repeat;
	background-position: 0 1px;
	background-size: 1em;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-bottom: 0.875em;
	min-height: 1em;
	padding-left: 1.5em;
}

#sexPanel {
	background: url("images/2014-home/slide01.jpg") no-repeat #d3d3d3;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 0 0 8em #000;
	text-align: center;
}

#sexPanel .innerWrap {
	background: #501f9c;
	background: rgba(162,83,253,0.4);
	padding: 7em 0 7.5em 0;
	text-shadow: 0 0 0.375em #000;
	text-shadow: 0 0 0.375em rgba(0,0,0,0.5);
	width: 100%;
}

#sexPanel h2 {
	margin-bottom: 0.75em;
}

#sexPanel a {
	color: #a253fd;
	text-decoration: none;
}

#sexPanel a:hover {
	color: #fff;
}

.whyWhyWhy #who-uses-radar .innerWrap, .whyWhyWhy #praise-for-radar .innerWrap {
	padding-top: 5em;
	padding-bottom: 5em;
}

.whyWhyWhy #who-uses-radar {
	background-attachment: fixed;
}

#praise-for-radar .oneThirdColumn {
	margin-bottom: 4em;
}

#contactPanel {
	background: #ddd;
	padding: 5em 0 6em 0;
}

#contactPanel .leftHalf {
	padding-right: 0.75em;
}

#contactPanel .rightHalf {
	padding-left: 0.75em;
}

#contactPanel .frm-input {
	height: 4.125em;
	margin-bottom: 0.5em;
	position: relative;
	width: 100%;
}

#contactPanel .frm-comments {
	height: 15em;
	margin-bottom: 1.75em;
	position: relative;
	width: 100%;
}

#contactPanel .frm-input label, #contactPanel .frm-comments label {
	background: #a253fd;
	box-sizing: border-box;
	color: #fff;
	display: block;
	float: left;
	font-size: 0.875em;
	font-weight: 700;
	height: 100%;
	padding: 1.5em;
	text-align: center;
	text-transform: uppercase;
	width: 8.125em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#contactPanel .frm-input input, #contactPanel .frm-comments textarea {
	background: #fff;
	box-shadow: none;
	font-size: 1em;
	height: 100%;
	padding: 1.5em 1em 1.5em 8.25em;
	width: 100%;
	z-index: 0;
}

#contactPanel .frm-radio-section {
	float: left;
	margin: 1em 0 0 0;
	width: 100%;
}

#contactPanel .frm-radio label {
	color: inherit;
}

#contactPanel .frm-radio span.wpcf7-list-item {
	margin-left: 0.25em;
	margin-right: 0.5em;
}

#contactPanel .frm-radio label, #contactPanel .frm-question {
	font-size: 1.125em;
	margin: 0 0 0.5em 0;
}

#contactPanel .frm-privacy {
	font-size: 0.875em;
	text-align: left;
}






/*--------------------------------------------------------------
PAGE SPECIFIC STYLES - MEDIA
--------------------------------------------------------------*/

#media-gallery .attachmentBlock {
	clear: both;
	float: left;
	margin-bottom: 1.5em;
	width: 100%;
}

#media-gallery .leftItem {
	padding-right: 0.375em;
}

#media-gallery .rightItem {
	padding-left: 0.375em;
}

#media-gallery div.mediaItem {
	box-sizing: border-box;
	display: block;
	float: left;
	margin-bottom: 0.75em;
	min-height: 5em;
	width: 50%;
}

#media-gallery .wallItemLink {
	overflow: hidden;
	padding: 0.5em;
}

#media-gallery .wallImageWrap {
	border: 3px #fff solid;
	display: block;
	float: left;
	height: 4em;
	margin: 0;
	width: 4em;
}

#media-gallery p {
	line-height: 1.75em;
	margin: 0 0 0 5.5em;
	text-align: left;
}

a.wallImageWrap:hover img {
	opacity: 0.75;
}





/*--------------------------------------------------------------
PAGE SPECIFIC STYLES - WHY RADAR?
--------------------------------------------------------------*/

#whyRadar {
	background: url("images/ajax-loader-purple.gif") no-repeat;
	background-position: center;
	height: 100%;
	overflow: hidden;
	position: relative;
	visibility: hidden;
	width: 100%;
}

#whyRadar .swipe-wrap {
	height: 100%;
	overflow: hidden;
 	position: relative;
	width: 100%;
}

.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#whyRadarSlideNav {
	clear: both;
	list-style: none;
	margin-bottom: 1.5em;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#whyRadarSlideNav li {
	box-sizing: border-box;
	float: left;
	width: 20%;
	padding: 0 0.125em
}

#whyRadarSlideNav li a { text-decoration: none;
	background: #ddd;
	border-radius:3px;
	color: #888;
	display: block;
	font-family: "presicav", "Arial";
	font-size: 0.75em;
	font-weight:700;
	line-height: 1.75em;
	padding: 0.75em;
	text-align: center;
	text-transform: uppercase;
}

#whyRadarSlideNav li a:hover, #whyRadarSlideNav li.current a { color: #fff;
	background: #aaa;
}

#whyRadarCaptions {
	height: auto;
	position: relative;
}

#whyRadarCaptions .caption {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
}





/*--------------------------------------------------------------
GOOGLE TRANSLATE STYLES
--------------------------------------------------------------*/

#google_translate_element {
	margin-top: 0.25em;
	position: relative;
}

#google_translate_element .icomoon {
	color: #aaa;
	font-family: "icomoon";
	font-size: 1em;
}

#google_translate_element:hover .icomoon {
}

.goog-te-gadget {
	font-size: 1em!important;
	height: 1.5em!important;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%!important;
}

.goog-te-gadget-simple {
	background-color: transparent!important;
	border-top: none!important;
	border-bottom: none!important;
	border-right: none!important;
	border-left: none!important;
	padding-top: 0!important;
}

.goog-te-gadget-simple .goog-te-menu-value span {
	color: #aaa;
	font-family: "proxima-nova";
}

.goog-te-gadget-icon {
	display: none;
}

.goog-te-gadget-simple > span {
	margin-left: 1.5em;
}



@media screen and (max-width: 1150px ) {
	.innerWrap {
		width: 56em;
	}

	body.home h1 {
		font-size: 5.45em;
	}
}

@media screen and (max-width: 1000px ) {
	.innerWrap {
		width: 50em;
	}

	body.home h1 {
		font-size: 4.85em;
	}
}

@media screen and (max-width: 850px ) {
	h2.alternate1 {
		font-size: 2em;
	}

	.innerWrap {
		width: 44em;
	}

	.leftHalf {
		padding-right: 1em;
	}

	.rightHalf {
		padding-left: 1em;
	}

	#menu-main li, #searchButton {
		font-size: 0.875em;
	}

	#searchButton {
		margin-top: 1.5em;
	}

	#homeBuckets p {
		font-size: 0.875em;
	}

	.newsHeadline h4 {
		font-size: 0.75em;
	}

	body.home h1 {
		font-size: 3em;
	}

	body.home .curtainSlide > .innerWrap {
		padding-top: 8.25em;
		padding-bottom: 3.5em;
	}

	body.home h2.alternate1 {
		margin: 0 0 1.5em 0;
	}

	#radar-studio .oneThirdColumn {
		width: 100%;
	}

	#radar-studio .oneThirdColumn h3.alternate1 {
		font-size: 1.25em;
		text-align: center;
		margin-bottom: 2em;
	}

	#radar-studio .twoThirdsColumn {
		margin-top: 1em;
	}

	#callsToAction a {
		font-size: .75em;
	}

	#callsToAction .oneThirdColumn {
		width: 33.33333333333333%;
	}

	#radar-studio .twoThirdsColumn {
		width: 100%;
	}

	#praise-for-radar .leftHalf, #praise-for-radar .rightHalf, #praise-for-radar .oneThirdColumn {
		padding: 0;
		margin-bottom: 2em;
		width: 100%;
	}

	#praise-for-radar p {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 750px ) {
	h1, .bigTitle, h2.alternate1 {
		font-size: 1.75em;
	}

	h2 {
		font-size: 0.8em;
	}

	h3 {
		font-size: 0.875em;
	}

	h4 {
		font-size: 0.875em;
	}

	p, ul, ol, ul.sexyList li, #contactPanel .frm-radio label, #contactPanel .frm-question {
		font-size: 0.875em;
	}

	p.bigText, #who-uses-radar p, #praise-for-radar p, #who-uses-radar h4, #praise-for-radar h4 {
		font-size: 1em;
	}

	h2.alternate1 {
		margin: 0 0 2.75em 0;
	}

	h3.alternate1 {
		font-size: 1.125em;
	}

	.pagination {
		font-size: 0.8em;
	}

	.innerWrap {
		width: 36em;
	}

	.bigBut, .wpcf7-submit {
		font-size: 0.75em;
	}

	.newsHeadline {
		width: 100%;
	}

	#header {
		height: 4.125em;
	}

	#headerLogo {
		height: 3em;
		margin-top: 0.55em;
	}

	#wrap {
		padding-top: 2em;
		padding-bottom: 3.5em;
	}

	#header-phone {
		font-size: 1.25em;
	}

	#content {
		padding-right: 0;
	}

	.wallItemHalf.leftHalf {
		padding-right: 0.25em;
	}

	.wallItemHalf.rightHalf {
		padding-left: 0.25em;
	}

	#contactPanel .frm-input {
		height: 3em;
	}

	#contactPanel .frm-input input, #contactPanel .frm-comments textarea {
		font-size: 0.875em;
		padding: 1.5em 1em 1.5em 6.25em;
	}

	#contactPanel .frm-input input, #contactPanel .frm-comments textarea {
		padding-top: 0.5em;
	}

	#contactPanel .frm-input label, #contactPanel .frm-comments label {
		font-size: 0.75em;
		padding: 1.125em;
		width: 6.125em;
	}

	#introPanel {
		padding-top: 1em;
		padding-bottom: 3.5em;
	}

	#introPanel img {
		margin-bottom: 3em;
	}

	.footerColumn {
		float: left;
		width: 33.3333333333%;
		margin-bottom: 2em;
	}

	#footerBlurb {
		width: 100%;
	}
}

@media screen and (max-width: 640px ) {
	.innerWrap {
		width: 100%;
	}

	#header .innerWrap {
		overflow: visible;
	}

	.nav-button {
		background: url('images/menu-icon-large.png') #999;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 1.5em auto;
		cursor:pointer;
		display:block;
		height: 2.5em;
		position:absolute;
		right: 0.875em;
		text-indent: -9999px;
		top: 0.875em;
		width: 4.5em;
		z-index: 999;
		-o-transition: 0.25s;
		-ms-transition: 0.25s;
		-moz-transition: 0.25s;
		-webkit-transition: 0.25s;
		transition: 0.25s;
	}

	.nav-button:hover, .nav-button.open:hover {
		background-color: #a253fd;
	}

	.nav-button.open {
		background-color: #501f9c;
	}

	#nav {
		background: #333;
		box-sizing: border-box;
		display: none;
		float: none;
		height: 100%;
		left: 0;
		padding: 1.5em;
		position: fixed;
		top: 4.15em;
		width: 100%;
		z-index: 100000;
	}

	#nav.open {
		display: block;
	}

	#menu-main {
		float: none;
		margin: 0;
	}

	#menu-main tr, #header #menu-main li {
		display: block;
		clear: both;
		margin: 0;
		padding: 0;
	}

	#menu-main li {
		display: block; 
		clear: none;
		float: none;
	}

	#menu-main li a {
		color: #fff;
		display: block;
		font-size: 1em;
		line-height: 1.5em;
		padding: 0.5em;
	}

	#menu-main li a:hover {
		color: #fff;
		background: #a253fd;
	}

	#searchform {
		display: block;
		float: left;
		margin: 0;
		padding: 0.5em;
	}

	#searchform input {
		background: #ccc;
		color: #666;
		box-shadow: none;
		width: 20em;
	}

	#wrap {
		padding: 0;
	}

	#wrap .innerWrap {
		padding: 1.25em;
	}

	.oneThirdColumn {
		width: 100%;
	}

	.twoThirdsColumn {
		width: 100%;
	}

	#sidebar {
		padding-left: 0;
	}
}

@media screen and (max-width: 480px ) {
	body.admin-bar #header {
		top: 2.9em;
	}

	#wpadminbar {
		position: fixed;
	}

	body.admin-bar #wrap {
		margin-top: 7.9em;
	}

	body.admin-bar #nav {
		top: 6.95em;
	}
}

@media screen and (max-width: 480px ) {
	.footerColumn {
		float: left;
		width: 50%;
		margin-bottom: 2em;
	}

	#footerContact {
		margin-bottom: 1em;
	}
}