// SWIPE.JS CAROUSEL STYLES

.carousel-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.carousel-nav li {
	float: left;
}

.carousel-nav a {
	color: inherit;
	display: block;
	padding: 0;
	text-align: center;
}

.carousel-nav li.current, .carousel-nav a:hover {
	color: #d00;
}

.carousel-nav a img {
	opacity: 0.5;
}

.carousel-nav a:hover img {
	opacity: 1;
}

.carousel {
	clear: both;
	margin: 0 0 2em 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	visibility: hidden;
}

.carousel-wrap {
	overflow: hidden;
	position: relative;
}

.carousel .slide {
	float: left;
	position: relative;
	width: 100%;
}