.admin-bar {

}

nav {
	float: right;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		ul {

		}
	}

	a {
		display: block;
		padding: 1em;
		text-decoration: none;
	}
}

nav.left-half {

}

nav.right-half {
	
}

.header-logo {

}

// MASTHEAD STYLES

.hero {

}

.parallax {

}

.carousel {

}