.full-height {
	height: 100%;
	width: auto;
}

.full-width {
	height: auto;
	width: 100%;
}

.bg-wide {
	background-size: 100% auto!important;
}

.bg-tall {
	background-size: auto 100%!important;
}

.no-pad {
	padding: 0!important;
}

.no-top-pad {
	padding-top: 0!important;
}

.no-right-pad {
	padding-right: 0!important;
}

.no-bottom-pad {
	padding-bottom: 0!important;
}

.no-left-pad {
	padding-left: 0!important;
}

.no-margin {
	margin: 0!important;
}

.no-top-margin {
	margin-top: 0!important;
}

.no-right-margin {
	margin-right: 0!important;
}

.no-bottom-margin {
	margin-bottom: 0!important;
}

.no-left-margin {
	margin-left: 0!important;
}

.no-scroll {
	overflow: hidden;
}

.mobile-hide {
	display: none;
}

.desktop-hide {
	display: none;
}

.pull-quote {
	font-size: 2em;
	margin: 0.25em 0;
}

.icomoon {
	font-family: "icomoon";
	font-size: 1em;
}

.button {
	@include box-sizing(border-box);
	display: block;
	background: #392c1e;
	color: #fff;
	padding: 1em;
	text-align: center;
	@include transition(0.5s);
}

.button:hover {
	background: #fff;
	color: #737b35;
}

.button-icon {
	font-size: 1.5em;
	line-height: 1em;
	font-family: "icomoon";
}

// PROPORTIONAL DIVS

.proportional-wrap {
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.proportional-inner {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	&.four-by-three {
		padding-top: 75%;
	}
	
	&.three-by-two {
		padding-top: 66.666%;
	}
	
	&.sixteen-by-nine {
		padding-top: 56.25%;
	}
}

@media screen and (max-width: 640px) {
	.mobile-hide {
		display: none;
	}

	.desktop-hide {
		display: inherit;
	}
}