.full-height {
	height: 100%;
	width: auto;
}

.full-width {
	height: auto;
	width: 100%;
}

.no-pad {
	padding: 0!important;
}

.no-margin {
	padding: 0!important;
}

.button {
	@include box-sizing(border-box);
	display: block;
	background: #392c1e;
	font-size: 1em;
	color: #fff;
	height: 2em;
	line-height: 1em;
	padding: 1em;
	text-align: center;
	@include transition(0.5s);
}

.button:hover {
	color: #fff;
	background: #737b35;
}