.full-height {
	height: 100%;
	width: auto;
}

.full-width {
	height: auto;
	width: 100%;
}

.bg-wide {
	background-size: 100% auto!important;
}

.bg-tall {
	background-size: auto 100%!important;
}

.no-pad {
	padding: 0!important;
}

.no-pad-top {
	padding-top: 0!important;
}

.no-pad-right {
	padding-right: 0!important;
}

.no-pad-bottom {
	padding-bottom: 0!important;
}

.no-pad-left {
	padding-left: 0!important;
}

.no-margin {
	margin: 0!important;
}

.no-margin-top {
	margin-top: 0!important;
}

.no-margin-right {
	margin-right: 0!important;
}

.no-margin-bottom {
	margin-bottom: 0!important;
}

.no-margin-left {
	margin-left: 0!important;
}

.no-scroll {
	overflow: hidden;
}

.mobile-hide {
	display: inherit;
}

.desktop-hide {
	display: none;
}

.menu, .sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.equidistant {
	font-size: 0.1px;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	&:after {
		content: '';
		width: 100%;
		display: inline-block!important;
	}
}

.pull-quote {
	font-size: 2em;
	margin: 0.25em 0;
}

.button {
	@include box-sizing(border-box);
	display: inline-block;
	background: #392c1e;
	color: #fff;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	@include transition(0.5s);
}

.button:hover {
	background: #fff;
	color: #737b35;
}

.button-icon {
	font-size: 1.5em;
	line-height: 1em;
	font-family: "icomoon";
}

.parallax {
	background-position: center!important;
	background-size: cover!important;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

// PROPORTIONAL DIVS

.proportional-wrap {
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	
	&.four-by-three {
		padding-top: 75%;
	}
	
	&.three-by-two {
		padding-top: 66.666%;
	}
	
	&.sixteen-by-nine {
		padding-top: 56.25%;
	}
	
	&.two-by-one {
		padding-top: 50%;
	}

	.proportional-inner {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	.mobile-hide {
		display: none;
	}

	.desktop-hide {
		display: inherit;
	}
}