@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon/fonts/icomoon.eot?-aqo0gy');
	src:url('../../fonts/icomoon/fonts/icomoon.eot?#iefix-aqo0gy') format('embedded-opentype'),
		url('../../fonts/icomoon/fonts/icomoon.woff?-aqo0gy') format('woff'),
		url('../../fonts/icomoon/fonts/icomoon.ttf?-aqo0gy') format('truetype'),
		url('../../fonts/icomoon/fonts/icomoon.svg?-aqo0gy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}