.button {
	@include box-sizing(border-box);
	display: inline-block;
	background: #392c1e;
	color: #fff;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	@include transition(color 0.25s, background 0.25s, opacity 0.25s);
	&:hover {
		background: $grey;
		color: $cream;
	}

.button-icon {
	font-size: 1.5em;
	line-height: 1em;
	font-family: "icomoon";
}

.pull-quote {
	font-size: 2em;
	margin: 0.25em 0;
}
