.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	text-align: left;
	float: left;
}

.alignright {
	text-align: right;
	float: right;
}

.wp-caption {

}

.wp-caption-text {

}

.gallery-caption {

}

.sticky {
}

.bypostauthor {

}